.footer {
    width: $content-width;
    background: linear-gradient(dodgerblue, royalblue);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md-screen {
        width: 100vw;
    }
    & h1 {
        margin: 2rem 0;
    }
    & p {
        margin-bottom: 1rem;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
        & li {
            margin: 0 0.5rem;
        }
    }
    &-copyright {
        width: 100%;
        padding: .5rem;
        background:rgb(3, 30, 31);
        text-align: center;
        font-size: .7rem;
    }
}